.lasagna{
    background-color: white;
    font-weight: bold;
    font-style: italic,times;
    
}

.potato{ 
    background-color: white;
    font-weight: bold;
    font-style: italic, times;

}

.primeiro,
.segundo{
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;

}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
    border: 2px solid gray;
    width: 150px;
    margin: auto;
    border-radius: 20px;
}

.panel{
    border: 2px solid black;
    height: auto;
    width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;


}


*{
    background-color: blanchedalmond;
    ;
}

